server {
  listen       80;
  server_name  <%= @public_host %>;

  access_log   /var/log/nginx/<%= @public_host %>.access.log;

  location / {
    root   /var/www/<%= @public_host %>;
    index  index.html index.htm;
  }
}
